<h2>Survey</h2>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>survey No</th>
				<th>Name</th>
				<th>Date</th>
				<th>start date</th>
				<th>End Date </th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1,001</td>
				<td>yashu</td>
				<td>27-01-2015</td>
				<td>27-01-2015</td>
				<td>30-01-2015</td>
			</tr>
			<tr>
				<td>1,002</td>
				<td>amet</td>
				<td>1-02-2015</td>
				<td>1-02-2015</td>
				<td>05-02-2015</td>
			</tr>
			
		</tbody>
	</table>
</div>