/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap_and_overrides
 *= require ./login/main
 */

 


	h2,h6 {
	    color: white;
	}
	form {
	    border: 0px solid #ccc;
	    padding: 0px 0px; 
	    background: #E0E0E0   ;
        width: 350px;
        height: 500px;
	    border-radius: 20px;
	}
	 input[type=submit]{
float:right
margin-right:25px;
margin-top:25px;
width:80px
height:30px
font-size:14px;
font-weight:bold;
color:black;
background-color:#acd6ef;
border-radius:30px;
border:1px solid #66add6;
}